h1{
    
    font-family:sans-serif ;
    font-size: 50px;
    
}
h2{
    font-size: 40px;
}
h3{
    
    font-family:serif ;
    font-size: 40px;
    background-color: rgb(244, 183, 227);
}
li{border: solid 1px black;
    font-family:serif ;
    font-size: 30px;
    background-color: antiquewhite;
}
#find {
    font-size: 18px;
    padding: 10px 20px;
  }
  